In [1]:
<script>
  function code_toggle() {
    if (code_shown){
      $('div.input').hide('500');
      $('#toggleButton').val('Show Code')
    } else {
      $('div.input').show('500');
      $('#toggleButton').val('Hide Code')
    }
    code_shown = !code_shown
  }

  $( document ).ready(function(){
    code_shown=false;
    $('div.input').hide()
  });
</script>
<form action="javascript:code_toggle()"><input type="submit" id="toggleButton" value="Show Code"></form>

SyntaxError: invalid syntax (1434027590.py, line 1)

here is some SQL Interview practical query questions along with their solutions

1. Question: Retrieve the top 5 highest-paid employees for each department, sorted by salary in descending order.

Solution
 
 In []:  SELECT
            department,
            employee_name,
            salary
        FROM
            (
                SELECT
                    department,
                    employee_name,
                    salary,
                    ROW_NUMBER() OVER(
                        PARTITION BY department
                        ORDER BY
                            salary DESC
                    )   AS rank
                FROM
                    employees
            )   ranked
        WHERE
            rank <=5;